<style>
        Body {
            font-family: Calibri, Helvetica, sans-serif;
            background-image: radial-gradient(rgb(237, 237, 237), rgb(6, 9, 54));
            margin: 0px 0px;
            padding: 0px 0px;
            box-shadow: 10px 0px 57px rgb(41, 38, 38);
            border-radius: 12px;
            ;
        }


        
      
        button {
            background-color: #160f5b;
            width: 100%;
            color: rgb(230, 230, 230);
            padding: 15px;
            
            border: none;
            cursor: pointer;
            border: 1px solid white;
            border-radius: 8px;
        }

        input {
            display: block;
            width: 100%;
            margin-bottom: 14px;
            margin-right: 45px;
            margin-left: 24px;
            padding: 12px;
            box-sizing: border-box;
            border: 1px solid #000000;
            border-radius: 5px;
            box-shadow: 4px 5px 7px #402e2e;
        }
        
        .head {
            font-family: 'Times New Roman', Times, serif;
            font-weight: bolder;
            margin: 26px 452px;
            padding: 10px 13px;        
            font-size: 53px;
            color: #ffffff;
            text-align: center;
           
        }

        .form {
            margin:23px 106px;
            padding: 39px 90px;
            box-shadow: 22px 15px 88px black;
            background-image: url('');
            
            
        }
        
        .cancelbtn {
            width: auto;
            padding: 12px 29px;
            margin: 13px 285px;
            
            
        }
        .log{
            
            margin:3px 441px;
       box-shadow:0px 0px 12px rgb(32, 31, 31);
        }
    </style>
